[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "nomad_camels"
version = "1.5.2"
authors = [
    { name="FAIRmat - HU Berlin", email="nomad-camels@fau.de" }
]
description = "CAMELS is a configurable measurement software, targeted towards the requirements of experimental solid-state physics."
readme = "README.md"
requires-python = ">=3.11.3"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU Lesser General Public License v2 (LGPLv2)",
]
dynamic = ["dependencies"]

[tool.setuptools.dynamic]
dependencies= {file = ["requirements.txt"]}

[tool.setuptools.packages.find]
exclude = [".desertenv",".git",".idea",".gitignore"]  # exclude packages matching these glob patterns (empty by default)

[project.urls]
"GitHub Page" = "https://github.com/FAU-LAP/NOMAD-CAMELS"
"Documentation" = "https://fau-lap.github.io/NOMAD-CAMELS/"

[project.gui-scripts]
nomad-camels = "nomad_camels:start_camels"
