PyQt5>=5.15.6
bluesky>=1.8.3
ophyd>=1.6.4
databroker>=1.2.5
pandas>=1.4.2
numpy>=1.22.4
h5py>=3.7.0
xarray>=2022.3.0
QtPy>=2.1.0
pip>=21.1.2
wheel>=0.36.2
setuptools>=57.0.0
QDarkStyle>=3.1
matplotlib>=3.5.2
bluesky-widgets>=0.0.12
pyepics>=3.5.1
scipy>=1.8.1
ipython>=8.4.0
lmfit>=1.0.3