.wy-side-nav-search{background-color: #000000}
/* Make the page content wider */
/* Make the page content responsive */
.wy-nav-content {
    max-width: 80%; /* Default for larger screens */
    /*margin: auto;  Center the content */
}

/* Media query for smaller screens (mobile) */
@media (max-width: 1200px) {
    .wy-nav-content {
        max-width: 95%; /* Expand to nearly full width on small screens */
        padding: 0 5%; /* Add some padding for spacing */
    }
}

.box-container {
  display: flex;
  gap: 16px;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.box {
  border: 1px solid #e0e0e0;
  padding: 16px;
  border-radius: 8px;
  min-width: 200px;
  max-width: 300px;
  flex-grow: 1;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, max-height 0.3s ease; /* Add transition for height */
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Arrange content in a column */
  justify-content: flex-start; /* Align items at the start */
}

.box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-title {
  font-size: 16px;
  font-weight: bold;
  color: #2d64f2;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
}

.box-content {
  font-size: 14px;
  color: #555;
  max-height: 92px; /* Initial height when not expanded */
  overflow: hidden;
  transition: max-height 0.3s ease; /* Smooth transition for expansion */
}

.box-content.expanded {
  max-height: 500px; /* Expand height when clicked */
}

/* .more-link {
  color: #2d64f2;
  cursor: pointer;
  margin-top: 2px;
  align-self: flex-start;
} */
.more-link {
  color: #ffffff; /* Change text color to white for contrast */
  background-color: #2d64f2; /* Button background color */
  padding: 8px 12px; /* Add padding for button-like appearance */
  margin-top: 8px; /* Add margin to separate it from content */
  border: none; /* Remove default border */
  border-radius: 4px; /* Round the corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 14px; /* Adjust font size if necessary */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  align-self: flex-start; /* Align to the start of the flex container */
}

.more-link:hover {
  color: #1a46c0; /* Change text color on hover */
  text-decoration: underline; /* Add underline on hover */
  /* You can add more styles like background color, font weight, etc. */
}
